LSTM is an RNN that can capture the pattern in sequential data. The benefit is that it can learn and remember for long sequences. In keras this is referred to as setting the stateful argument as true in the lstm layer 
Lstm includes three important gates: input gate, something and the output gate.

In [34]:

!pip install opendatasets --upgrade --quiet
!pip install pandas 
!pip install imbalanced-learn
!pip install numpy 
!pip install pickle
!pip install seaborn
!pip install matplotlib.pyplot
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/matt/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imbalanced-learn in /Users/matt/Library/Python/3.9/lib/python/site-packages (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from imbalanced-learn) (3.5.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/matt/Library/Python/3.9/lib/python/site-packages (1.26.4)
Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Users/matt/Library/Python/3.9/lib/python/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.0)
Requirement already satisfied: pillow>=8 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: pytz>=2020.1 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.15.0)
Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)
ERROR: No matching distribution found for matplotlib.pyplot
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/matt/Library/Python/3.9/lib/python/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/matt/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.5.0)

In [35]:

## REQUIRED LIBRARIES
# For data wrangling 
import numpy as np
import pandas as pd
import pickle 

# For visualisation
import matplotlib.pyplot as plt

In [36]:
  # Direct link to the CSV file on Google Drive
csv_url = 'https://drive.google.com/uc?id=1eMGf7o8nDF18gcgFnArI-2efU105FFg7'
# Read the CSV file from the URL
df = pd.read_csv(csv_url)
df.shape

(43800, 9)

In [37]:
df.head()

,date,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain
0,2010-01-02 00:00:00,129.0,-16,-4.0,1020.0,SE,1.79,0,0
1,2010-01-02 01:00:00,148.0,-15,-4.0,1020.0,SE,2.68,0,0
2,2010-01-02 02:00:00,159.0,-11,-5.0,1021.0,SE,3.57,0,0
3,2010-01-02 03:00:00,181.0,-7,-5.0,1022.0,SE,5.36,1,0
4,2010-01-02 04:00:00,138.0,-7,-5.0,1022.0,SE,6.25,2,0

In [38]:
# Save the DataFrame to a Pickle file in the data folder so easily accessed in all folders

with open('../data/raw_data.pickle', 'wb') as f:
    pickle.dump(df, f)

In [39]:
with open('../data/raw_data.pickle', 'rb') as f:
    df = pickle.load(f)

In [40]:
df.shape

(43800, 9)

In [41]:
df.head()

,date,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain
0,2010-01-02 00:00:00,129.0,-16,-4.0,1020.0,SE,1.79,0,0
1,2010-01-02 01:00:00,148.0,-15,-4.0,1020.0,SE,2.68,0,0
2,2010-01-02 02:00:00,159.0,-11,-5.0,1021.0,SE,3.57,0,0
3,2010-01-02 03:00:00,181.0,-7,-5.0,1022.0,SE,5.36,1,0
4,2010-01-02 04:00:00,138.0,-7,-5.0,1022.0,SE,6.25,2,0

In [42]:
list(df.columns)

['date',
 'pollution',
 'dew',
 'temp',
 'press',
 'wnd_dir',
 'wnd_spd',
 'snow',
 'rain']

In [43]:
df.describe()

,pollution,dew,temp,press,wnd_spd,snow,rain
count,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000
mean,94.013516,1.828516,12.459041,1016.447306,23.894307,0.052763,0.195023
std,92.252276,14.429326,12.193384,10.271411,50.022729,0.760582,1.416247
min,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,24.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,68.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,132.250000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

In [44]:
df.isnull().sum()

date         0
pollution    0
dew          0
temp         0
press        0
wnd_dir      0
wnd_spd      0
snow         0
rain         0
dtype: int64

In [45]:

# Get unique count for each variable
df.nunique()

date         43800
pollution      581
dew             69
temp            64
press           60
wnd_dir          4
wnd_spd       2788
snow            28
rain            37
dtype: int64

In [46]:
# Define the mapping dictionary
mapping = {'NE': 0, 'SE': 1, 'NW': 2, 'cv': 3}

# Replace the string values with numerical values
df['wnd_dir'] = df['wnd_dir'].map(mapping)
df['wnd_dir'] = df['wnd_dir'].map(mapping)

In [47]:
df.head()

,date,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain
0,2010-01-02 00:00:00,129.0,-16,-4.0,1020.0,NaN,1.79,0,0
1,2010-01-02 01:00:00,148.0,-15,-4.0,1020.0,NaN,2.68,0,0
2,2010-01-02 02:00:00,159.0,-11,-5.0,1021.0,NaN,3.57,0,0
3,2010-01-02 03:00:00,181.0,-7,-5.0,1022.0,NaN,5.36,1,0
4,2010-01-02 04:00:00,138.0,-7,-5.0,1022.0,NaN,6.25,2,0